body{
    font-family: 'Georgia', serif;
    background: linear-gradient(#f0f9ff, #cbebff);
    color: #333;
    margin: 370px;
}

h1{
    color: darkgreen;
    font-family: "Papyrus", fantasy;
    text-align: center;
}

p{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin: 40px;
    text-align: center;
}

input{
    text-align: center;
}

div{
    align-items: center;
}

select{
    text-align: center;
    align-items: center;
    align-self: center;
}

button{
    text-align: center;
    color: darkred;
    background-color: azure;
    align-items: center;
}

.center-container {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  height: 25px;           /* full viewport height */
  gap: 11px;               /* spacing between dropdowns/buttons */
}

.center-container2 {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 500px;
}

.heading {
    text-align: center;
    margin-right: 250px;
    font-family: "Papyrus", fantasy;
    color: darkred;
}

.square {
    width: 100px;
    height: 100px;
    border: 2px;
    color: darkgreen;
}

.center-container3 {
    text-align: center;
    margin-right: 250px;
    font-family: cursive;
}

label {
    gap: 15px;
    text-align: center;
    margin: 4px;
}

.center-container4{
    text-align: center;
    margin-right: 290px;
}

